html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;

}







.slider {
    width: 800px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

    .slider .list {
        position: absolute;
        width: max-content;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        transition: 1s;
    }

        .slider .list img {
            width: 1300px;
            max-width: 100vw;
            height: 100%;
            object-fit: cover;
        }

    .slider .buttons {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

        .slider .buttons button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff5;
            color: #fff;
            border: none;
            font-family: monospace;
            font-weight: bold;
        }

    .slider .dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

        .slider .dots li {
            list-style: none;
            width: 10px;
            height: 10px;
            background-color: #fff;
            margin: 10px;
            border-radius: 20px;
            transition: 0.5s;
        }

            .slider .dots li.active {
                width: 30px;
            }



@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

















@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }



.footer {
        background-color: white;
        text-align: center;
        padding: 10px;
    }


 #form-wrapper {
        background-color: white;
        margin: auto;
        margin-top: 100px;
        width: 600px;
        height: auto;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid lightgray;
    }

    #header {
        background-color: #000000;
        border-radius: 10px 10px 0px 0px;
        border: lightgray solid 1px;
    }

    h1 {
        color: black;
    }
    
    h5 {
        color: white;
    }

    i {
        color: white;
    }

    button i {
        color: white;
    }

    hr {
        border-color: white;
    }

    button {
        background-color: white !important;
    }

    select {
        display: inline;
    }