@{
    ViewData["Title"] = "Large Paintings";
}

<head>
    <style>
        h1 {
            text-align:center;
        }
    </style>
</head>

<h1>@ViewData["Title"]</h1>

<p>Large painting products will be located here.</p>